2025-04-24_#3/___Gmail_Agent.json
{
  "name": "📧 Gmail Agent",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-exp-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -380,
        -160
      ],
      "id": "c2e9415d-84c7-48ff-b55e-65c761d122ca",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6pBI1LyHXT9EI3fB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -220,
        -160
      ],
      "id": "83f9cd39-f5e3-44d6-a3cc-8c6a00325412",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {
          "q": "={{ $fromAI('Search', ``, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -20,
        -200
      ],
      "id": "d09c53e6-eb2d-457c-852b-2b8097370c44",
      "name": "Gmail Search",
      "webhookId": "d20b7dcb-0454-44de-873e-a14641b10c62",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q0ZWYjynfz49j94M",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        240,
        -200
      ],
      "id": "5ab2fffb-5921-4432-889c-fd9d4c4c6093",
      "name": "Gmail Creation",
      "webhookId": "a6010c3e-cb56-4f79-847b-2d2dd8d62e00",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q0ZWYjynfz49j94M",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consume the Gmail API, you can only retrieve one message by ID",
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        120,
        -160
      ],
      "id": "64c61d46-1950-41f1-b358-a2ef523cea12",
      "name": "Gmail Retrieval by ID",
      "webhookId": "32d4e5ea-8e7a-4e7a-9554-a8ee86343976",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q0ZWYjynfz49j94M",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        -420
      ],
      "id": "9815da7c-1276-45e7-995b-52f81380fe19",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Jsi Google Mail asistent. Tvým úkolem je pomáhat nadřazenému AI Agentovi spravovat uživatelův mailbox pomocí těchto Tools:\nGmail Creation - tool, který slouží pro vytváření emailů, \nGmail Search - tool, kterým můžeš získat více uživatelových emailů \na Gmail Retrieval by ID - tool, kterým získáš dle zvoleného ID zprávy jeden konkrétní email.\n\nPrávě je: {{ DateTime.local().toFormat('cccc d LLLL yyyy HH:MM:ss') }} \n\nObecné pokyny \n- pro vytvoření e-mailu potřebuješ nezbytné údaje, jako je příjemce, předmět a text e-mailu\n- používej prostý text, nebudeš vytvářet žádné markdown ani html emaily\n\nTool: Gmail Creation\nPři požadavku na vytvoření e-mailu bys měl shromáždit všechny informace, tj. včetně: \n- To: E-mailová adresa (adresy) příjemce (příjemců)\n- Cc: Příjemci kopie (pokud existují)\n- Bcc: Příjemci slepé kopie (pokud existují)\n- Předmět: Jasný a výstižný předmět e-mailu\n- Tělo: Úplný textový obsah e-mailu\n\nTool: Gmail Search\nPři vyhledávání emailů:\nPokud je zadáno časové období, použijte přesně toto období\nPokud není období zadáno, interpretujte kontextové časové odkazy:\n\"Poslední e-maily\" = e-maily za posledních 10 dní\n\"Dnešní e-maily\" = e-maily přijaté dnes\n\"E-maily z tohoto týdne\" = e-maily od pondělí do aktuálního dne\n\"E-maily minulého týdne\" = e-maily od pondělí do neděle předchozího týdne\nFormát parametrů vyhledávání: \nstart_date: Začátek období vyhledávání v RRRR-MM-DD HH:mm:ss\nend_date: Konec období vyhledávání v RRRR-MM-DD HH:mm:ss\nsearch_term: Klíčová slova, odesílatel nebo předmět k filtrování (pokud jsou uvedeny)\nunread_only: Zda se mají zahrnout pouze nepřečtené e-maily (výchozí: všechny)\n\nTool: Gmail Retrieval by ID\nPři načítání konkrétního e-mailu: \nemail_id: jednoznačný identifikátor emailu, podle kterého jej lze získat\n\nUpřesnění tvého chování\nPřehlednost: Výstup z AI agenta by měl být konkrétní\nVždy se přizpůsobuj: \"Ukaž mi e-maily od Johna\" nebo \"Najdi všechny nepřečtené zprávy ze včerejška\"\nProaktivita: Doplň chybějící podrobností, pokud je to nutné\nJazyková shoda: Zajistit, aby všechny interakce, včetně předmětů e-mailů, obsahu a zpráv, byly v jazyce uživatele.\nBezpečnostní povědomí: Upozornění uživatele na potenciálně podezřelé e-maily\nOrganizace: Vyhledané e-maily prezentujte přehledně a uspořádaně s uvedením odesílatele, předmětu, data a náhledu\nEfektivita: V případě potřeby poskytni možnost dávkových akcí pro více e-mailů."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -160,
        -420
      ],
      "id": "48e2b490-d62f-4b22-b962-a8ea3cf16290",
      "name": "Gmail AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gmail AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Gmail AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Search": {
      "ai_tool": [
        [
          {
            "node": "Gmail AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Retrieval by ID": {
      "ai_tool": [
        [
          {
            "node": "Gmail AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Creation": {
      "ai_tool": [
        [
          {
            "node": "Gmail AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Gmail AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1517388-285f-4d6b-aada-db2fe3084a1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06838209d32efe5bcda0a323ab67082ad3115adc6563902218a01b7d53c7cc8c"
  },
  "id": "wj0mnsYVn4KZ85la",
  "tags": []
}